* {
	margin:0;
	padding:0;
	font-size:100%;
	font-weight:normal;
	float:none;
}
:root {
	--bg:#222;
	--body:#ccc;
	--head:#fff;
	--link:#fc8;
	--actlink:#fec;
	--codebg:#000;
	--codefg:#ccc;
	--linum:#588;
	--decl:#fec;
	--keyword:#fc8;
	--preproc:#88a;
	--string:#4a4;
	--type:#c8a;
}
#darklight:checked ~ #colorscheme {
	--bg:#fff;
	--body:#333;
	--head:#000;
	--link:#008;
	--actlink:#468;
	--codebg:#ccc;
	--codefg:#000;
	--linum:#468;
	--decl:#333;
	--keyword:#008;
	--preproc:#544;
	--string:#050;
	--type:#920;
}
@media (prefers-color-scheme: light) {
:root {
	--bg:#fff;
	--body:#333;
	--head:#000;
	--link:#008;
	--actlink:#468;
	--codebg:#ccc;
	--codefg:#000;
	--linum:#468;
	--decl:#333;
	--keyword:#008;
	--preproc:#544;
	--string:#050;
	--type:#920;
}
#darklight:checked ~ #colorscheme {
	--bg:#222;
	--body:#ccc;
	--head:#fff;
	--link:#fc8;
	--actlink:#fec;
	--codebg:#000;
	--codefg:#ccc;
	--linum:#588;
	--decl:#fec;
	--keyword:#fc8;
	--preproc:#88a;
	--string:#4a4;
	--type:#c8a;
}
}
html{
	font-family:Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size:100%;
	background:var(--bg);
	color:var(--body);
	line-height:1.4;
	width:100%;
}
#colorscheme {
	position:absolute;
	top:0;
	left:0;
	background:var(--bg);
	color:var(--body);
	min-height:100vh;
	width:100%;
	z-index:0;
}
#main-content{
	max-width:42em;
	margin:0 auto;
	padding:1em 3em;
}
input[name="dark-mode"] {
	appearance:none;
	position:absolute;
	top:0;
	left:0;
}
.dark-mode-selector {
	position:relative;
	top:1em;
	left:1em;
	z-index:2;
}
.dark-mode-selector span span {
	display:none;
}
header{
	text-align:center;
	line-height:0.8;
	padding-bottom:1em;
	border-bottom:1px dashed var(--body);
}
h1{
	color:var(--head);
	margin:1em 0 0.25em;
	font-size:200%;
}
h2{
	color:var(--head);
	margin-top:1em;
	font-size:150%
}
h3{
	color:var(--head);
	margin-top:1em;
	font-size:125%
}
a{
	color:var(--link);
	text-decoration:none;
}
a:hover:not(.noborder), a:active:not(.noborder) {
	color:var(--actlink);
	border:0.125em solid var(--body);
	padding:0.125em;
	margin:-0.25em;
}
li {
	margin:0 0 1em;
}
nav li{
	display:inline-block;
	margin:0 1em 0 0;
}
p{
	margin:0 0 1em 0;
}
p.preview{
	margin:0;
}
header p:last-of-type {
	margin:0;
}
article pre{
	margin:0 0 1em 0;
}
.date::before{
	content:"🗓️ ";
}
.figure{
	text-align:center;
	max-width:90%;
}
.figure img{
	border:5px solid var(--body);
	display:inline;
	max-width:100%;
	height:auto;
}
.figure p{
	font-style:italic;
}
pre{
	max-width:100%;
	overflow:scroll;
	background-color:var(--codebg);
	color:var(--codefg);
	padding:1em 0;
	counter-reset:line;
}
pre code{
	counter-increment:line;
}
pre code::before{
	content:counter(line);
	color:var(--linum);
	display:inline-block;
	text-align:right;
	width:2em;
	padding:0 1em 0 0;
}
pre .decl {
	font-style:italic;
	color:var(--decl);
}
pre .keyword {
	font-weight:bold;
	color:var(--keyword);
}
pre .preproc {
	color:var(--preproc);
}
pre .string {
	color:var(--string);
}
pre .type {
	color:var(--type);
}
section li::before{
	content:"»";
	display:inline-block;
	text-align:center;
	font-size:150%;
	width:1rem;
	overflow:visible;
	color:var(--link);
}
section li{
	text-indent:-1em;
	list-style:none;
}
footer {
	border-top:1px dashed var(--body);
	padding-top:1em;
	text-align:right;
}
