html {
	font-size:100%;
	line-height:1.5;
}
body {
	background-color:#bdbdbd;
	color:#000;
	margin:0;
	padding:0;
	font-family:"Georgia",serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family:Courier,monospace;
	font-weight:normal;
	margin:1em 0 0;
	padding:0;
	font-size:100%;
}
p {
	margin:0 0 1em;
	padding:0;
}
ul {
	margin:0 0 1em;
	padding:0 0 0 1em;
}
table {
	margin:0 auto 1em;
}

/******************************************************************
 ** Figures
 ******************************************************************/
.figure {
	text-align:center;
}
.figure img {
	border:8px solid #e6e6e6;
	box-sizing:border-box;
	max-width:100%;
	width:auto;
	height:auto;
}
.figure p {
	font-style:italic;
}

/******************************************************************
 ** Site header and footer
 ******************************************************************/
header {
	text-align:center;
	line-height:initial;
	background-color:#036;
	color:#bdbdbd;
}
header h1 {
	font-size:200%;
	margin:0;
	padding:2rem 0 0;
	line-height:1;
	color:#fff;
}
header p {
	margin:0;
	padding:0 0 1rem;
}
footer {
	clear:both;
	background-color:#036;
	color:#ffe26e;
	padding:1rem;
	text-align:right;
}
footer a:link, footer a:visited {
	color:#ffca00;
	text-decoration:none;
}
footer p {
	margin:0;
}

/******************************************************************
 ** Full site navigation bar
 ******************************************************************/
nav.bar {
	font-family:Courier,monospace;
	border-top:2px solid #e6e6e6;
	border-left:2px solid #e6e6e6;
	border-bottom:2px solid #888;
	float:right;
}
nav.bar h2 {
	text-align:center;
	margin:0;
	background:linear-gradient(to bottom,#e6e6e6 0%,#bdbdbd 100%);
	border-bottom:2px solid #888;
}
nav.bar ul {
	margin:0;
	padding:0;
	font-size:0px;
	background-color:#bdbdbd;
}
nav.bar ul li {
	/*display:inline-block;*/
	display:block;
	font-size:1rem;
	margin:0;
	padding:0;
}
nav.bar ul li a {
	/*display:inline-block;*/
	display:block;
	text-decoration:none;
	background-color:#bdbdbd;
	color:#000;
	margin:0;
	padding:0 1em;
}
nav.bar ul li.current a {
	background-color:#e6e6e6;
	color:#000;
}
nav.bar ul li a:hover {
	background-color:#e6e6e6;
	background:linear-gradient(to bottom,#e6e6e6 0%,#fff 50%,#e6e6e6 100%);
	color:#000;
}

/******************************************************************
 ** Inner tables of contents
 ******************************************************************/
article nav {
	float:left;
	padding:0 1rem;
	margin:0 1rem 0 0;
	border:2px solid #888;
}
article nav h3 {
	margin:0;
}

/******************************************************************
 ** References sections
 ******************************************************************/
ul.refs {
	margin:0;
	padding:0 0 0 1em;
	list-style-type:"» ";
}
ul.refs li::marker {
	color:#888;
}

/******************************************************************
 ** Articles / Sections as tabbed windows
 ******************************************************************/
article, section {
	background-color:#fff;
	color:#333;
	max-width:36rem;
	padding:0 2rem 1rem;
	margin:2rem auto;
	border:2px solid #888;
}
article h2, section h2 {
	background-color:#ffca00;
	background:linear-gradient(to bottom, #ffe26e 0%,#ffca00 100%);
	color:#000;
	font-size:125%;
	font-weight:bold;
	padding:0 1rem;
	margin:0 -2rem 1rem;
	border-bottom:2px solid #888;
}
article h2 a:link, article h3 a:link, section h2 a:link,
article h2 a:visited, article h3 a:visited, section h2 a:visited {
	color:inherit;
	background-color:inherit;
	text-decoration:none;
}
article h2 a:hover, article h3 a:hover, section h2 a:hover {
	text-decoration:underline;
}
article h3 {
	font-size:125%;
}

/******************************************************************
 ** Dates and expanders on blog posts
 ******************************************************************/
.date {
	font-family:Courier,monospace;
	border-bottom:1px solid #bdbdbd;
}
.date::before {
	content:"🗓️ ";
}
p.more {
	margin-top:-1em;
}

/******************************************************************
 ** Syntax Highlighting
 ******************************************************************/
code {
	font-family:Courier,monospace;
}
pre {
	background-color:#e6e6e6;
	color:#000;
	font-family:Courier,monospace;
	font-size:87.5%;
	line-height:1.125;
	padding:1rem 0;
	border:2px solid #888;
	overflow:auto;
}
pre code {
	counter-increment:line;
}
pre code::before {
	content:counter(line);
	display:inline-block;
	color:#bdbdbd;
	text-align:right;
	width:2em;
	padding:0 1em 0 0;
}
.preproc {
	color:#669;
}
.keyword {
	font-weight:bold;
}
.type {
	font-style:italic;
}
.decl {
	color:#933;
}
.string {
	color:#393;
}

/******************************************************************
 ** Link styles
 ******************************************************************/
a:link {
	color:#369;
	text-decoration:underline;
	text-decoration-style:dashed;
}
a:visited {
	color:#909;
}
a:active {
	color:#f36;
}
a:hover {
	text-decoration:none;
}
